@{
    ViewData["Title"] = "Home Page";
}

@model StudentQuestion

<h3> Add a Question to the Queue: </h3>
<br />
<form method="post">
    <input type="hidden" asp-for="QuestionID" />
    <label asp-for="StudentFirstName">Student First Name</label>
    <input asp-for="StudentFirstName" />
    <br />

    <label asp-for="StudentLastName">Student Last Name</label>
    <input asp-for="StudentLastName" />
    <br />

    <label asp-for="StudentNetID">Net ID</label>
    <input asp-for="StudentNetID" />
    <br />

    <label asp-for="Question">Post your Question</label>
    <input asp-for="Question" />
<br />
    <button type="submit">Submit Question</button>
</form>
